@tailwind base;

@tailwind utilities;

@tailwind components;

.form-control {
  @apply w-full leading-snug py-1 px-4 rounded border text-gray-800  border-blue-300 bg-gray-300;
}

.form-control:hover {
  @apply bg-white;
}

.form-control:focus {
  @apply outline-none shadow-outline;
}

.card-dishes {
  @apply relative mx-2 shadow-lg  p-2 bg-white rounded-lg -mt-2;
}

.title-card {
  @apply text-xl tracking-tight font-semibold text-gray-900 uppercase;
}

.btn {
  @apply rounded shadow-xl py-1 px-4 block bg-gray-500;
}

.btn-primary {
  @apply bg-yellow-600;
}

.btn:hover {
  @apply shadow-none bg-gray-700 text-white;
}

/* Variants */

@variants hover {
  .zoom {
    transform: scale(2);
  }

  .button {
    background-color: #318d2c;
    color: #fff743;
    border: 2px solid #c85d57;
  }
}

@variants active {
  .button {
    background-color: #000;
    color: #fff743;
    border: 2px solid #fff743;
  }
}
